@import "_colores";



* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    text-decoration: none;
}

header {
    background-color: #fff;
    margin: auto;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
}

section {
    width: 980px;
    margin: auto;
}

img {
    vertical-align: middle;
}

nav {
    display: inline-block;
    margin-left: 140px;
    margin-bottom: 15px;
}

ul {
    padding: 25px 0px;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    color: #5e5e5e;
}

th {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    color: #5e5e5e;
}

.nav-link {
    padding: 0 0 0 0;
}

a {
    color: #00aff4;
}

.btn-outline-info {
    color: #00aff4;
    border-color: #00aff4;
}

.dropdown-item:hover {
    color: #00aff4;
}

.logo {
    padding: 40px 0px 0px 0px;
    float: left;
}

.logo-imagen {
    width: 230px;
    margin-top: -40px;
    margin-left: -15px;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-top: -90px;
}

.intro {
    width: 100%;
    background-image: url(../IMAGENES/gaston-index-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -10px;
    height: 415px;
    margin-top: 0px;
}

.texto-intro {
    width: 600px;
    font-size: 44px;
    line-height: 1.5;
    font-weight: 400;
    color: #5e5e5e;
    padding: 100px 0px 30px 0px;

span {
    color: #00aff4;
    font-weight: bold;    
}
}

.info-gaston {
    padding: 50px 0px 30px 0px;
    overflow: hidden;

    img {
        border-radius: 50%;
        float: left;
        margin-right: 150px;
        border-style: none;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
        color: #414141;
    }
}

.intro-acerca-de {
    width: 100%;
    background-image: url(../IMAGENES/gaston-index-5.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.texto-acerca-de {
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #5e5e5e;
    padding: 30px 0px 30px 0px;
}

.intro-cursos {
    width: 100%;
    background-image: url(../IMAGENES/gaston-cursos.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.Curso-Padre {
    display: flex;
    justify-content: center;
    margin: 30px 150px;
}

.CatCurso {
    padding: 40px 10px 40px 10px;
    border: 3px solid #070e12;
    border-radius: 20px; 
    background-color: #00aff4;
    font-size: 15px;
    line-height: 2;
    width: 25%;
    margin: 10px;
    text-align: center;

    span {
        display: inline-block;
        top: 20px;
        right: 10px;
        font-weight: bold;
        background-color: #414141;
        color: white;
        padding: 0px 10px 0px 10px;
        border-radius: 5px;
    }
    h1 {
        font-size: 2em;
        color: white;
        text-align: center;
        padding: 50px 0px 0px 0px;
        font-weight: bold;
        font-size: 200%;
    }
    h4 {
        color: white;
        text-align:center;
        padding: 5px 0px 0px 0px;
        font-weight: bold;
        font-size: 100%;
    }
    p {
        color: white;
    }
    img {
        margin-top: 10px;
        width: 25px;
    }
    a {
        font-weight: bold;
    }
}

.intro-social {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.intro-mk {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.intro-google {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.intro-fb {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.intro-contacto {
    width: 100%;
    background-image: url(../IMAGENES/gaston-contacto.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.texto-contacto {
    width: 700px;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #5e5e5e;
    padding: 30px 0px 30px 0px;
}

.intro-blog {
    width: 100%;
    background-image: url(../IMAGENES/gaston-blog.jpg);
    background-size: cover;
    background-repeat: none;
    background-position: center -10px;
    height: 60px;
    padding: 80px 0px;
    margin-top: 0px;
}

.blog1 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.card {
    margin: 1em;
img {
    width: 288px;
    height: 150px;
}
}

.estilo-formulario {
    margin-left: 250px;
}

.footerR {
    width: 980px;
    border-top: 1px solid #ebebeb;
    height: 60px;
    padding: 30px 0px;
    clear: both;
    margin: auto;
    color: white;
}

.footer-c1 {
    width: 50%;
    float: left;
}

.logo-footer {
    padding-bottom: 5px;
}

.logo-footer-image {
    width: 74px;
    margin-top: -30px;
}

.copyright {
    clear: both;
    font-size: 18px;
    color: #414141;
}